<br><br><br><br>

<script id="groups-template" type="x-handlebars-template">
	{{#each data}}
	{
		firstname: '{{firstname}}',
		lastname: '{{lastname}}',
		bio: '{{bio}}'
	}
	{{/each}}

</script>
<script type="text/javascript">

</script>

<div class="container">
	<div class="row">
		<div class="col-md-3 ">
			<div class="list-group ">
				<a href="/profile" class="list-group-item list-group-item-action">Dashboard</a>
				<a href="/groups" class="list-group-item list-group-item-action">Groups</a>
				<a href="/search" class="list-group-item list-group-item-action">Search for Groups</a>
				<a href="#" class="list-group-item list-group-item-action active">Search for Users</a>
			</div> 
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<hr>
							
						</div>
					</div>
				</div>
			</div>
			<table>
				<tbody>
					{{#each data}}
					<tr><td><strong>{{email}}</strong></td></tr>
					<tr><td>First Name: {{firstname}}</td></tr>
					<tr><td>Last Name: {{lastname}}</td></tr>
					<tr><td>Biography: {{bio}}</td></tr>
					
					{{/each}}
				</tbody>
			</table>
			<br>
			<form name = "sendemail" action = mailto:{{email}} method = "post" enctype = "text/plain">
				<label for="message">Message</label><input type="name" class="form-control" id = "message" name="message">
				<br>
				<label for="email">Your Email</label><input type="name" class="form-control" id = "email" name="email">
				<br>
				<button type = "submit" class="btn btn-info">Send</button>
			</form>
		</div>
		
	</div>
	
</div>
