
<br><br>
<h2>Users</h2>
<ul>
	{{#each studentlist}}
	<li>{{firstname}}</li>
	<li>{{lastname}}</li>
	<li>{{email}}</li>
	<li>{{password}}</li>
	<li>{{bio}}</li>
	<li>{{usertype}}</li>
	{{/each}}
</ul>